<!DOCTYPE html>
<html>
<head>
  <title>StormpathAngularRailsSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="exampleApp">

  <div if-user-state-unknown>
    <div ng-include="'<%= asset_path('spinner/spinner.html') %>'"></div>
  </div>
  <div if-user-state-known>
    <div ng-include="'<%= asset_path('navbar/navbar.html') %>'"></div>
    <div ui-view=""></div>
  </div>

</body>
</html>
